* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: rgba(27, 36, 74, 1);
  --heading: rgba(238, 238, 238, 1);
  --score: rgba(249, 79, 109, 1);
  --border: rgba(154, 171, 216, 1);
  --scoreboard: rgba(8, 0, 1, 1);
}

@font-face {
  font-family: "Cursed Timer ULiL", sans-serif;
  src: url("./CursedTimer.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Verdana", sans-serif;
  src: url(./VerdanaBold.ttf);
  font-weight: 700;
  font-style: normal;
}

body {
  min-height: 100vh;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  text-align: center;
}
.container > h2 {
  color: var(--heading);
}

.scoreboard {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  padding: 3.75em 0;
}

.guest,
.home {
  width: 18em;
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 5px;
}

h3 {
  font-family: "Verdana", sans-serif;
  font-size: 2.5rem;
  color: var(--heading);
}

.home-display,
.away-display {
  width: 8.8em;
  height: 8.8em;
  background: var(--scoreboard);
  border-radius: 5px;
  margin: 1.25em auto 2.5em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: var(--score);
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 5.2rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
}

.plusone-btn,
.plustwo-btn,
.plusthree-btn,
.reset-btn {
  color: var(--border);
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 0.9rem;
  border: 2px solid var(--border);
  border-radius: 5px;
  padding: 0.5625em;
  cursor: pointer;
  background: transparent;
}

.reset-btn {
  letter-spacing: 0.05rem;
}

button:hover {
  color: var(--heading);
}

button:active {
  transform: scale(0.95);
}

@media screen and (max-width: 668px) {
  .scoreboard {
    flex-direction: column;
    padding: 2.4em 0;
    gap: 1.6em;
  }
  .container > h2 {
    font-size: 3.8rem;
  }
  .guest,
  .home {
    width: 16em;
    height: 19em;
  }
  .home-display,
  .away-display {
    width: 8.5em;
    height: 8em;
    margin: 0.8em auto 1.5em auto;
  }
}
